server:
  port: 5000

spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/shopeasy?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true}
    username: ${DB_USER:shopeasy}
    password: ${DB_PASSWORD:shopeasy}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false

jwt:
  secret: ${JWT_SECRET:very-secret-key}
  expiration-ms: ${JWT_EXPIRE_MS:3600000}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

app:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:http://localhost:3000}
    allowed-methods: GET,POST,PUT,PATCH,DELETE,OPTIONS
    allowed-headers: Authorization,Content-Type
